<%- model_class = Admin::Contact -%>
<%- provide(:title, model_class.model_name.human.pluralize.titleize) -%>
<%= admin_page_header(yield(:title)) %>

<div id="filter_toggle">
  <%= new_admin_button("contact") %>
</div>
<div id="filter">
  <%= render 'search' %>
</div>

<%= will_paginate(@admin_contacts) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @q, :id, model_class.human_attribute_name(:id) %></th>
      <th><%= sort_link @q, :last_name, model_class.human_attribute_name(:name) %></th>
      <th><%= sort_link @q, :company_name, model_class.human_attribute_name(:company_name) %></th>
      <th><%= sort_link @q, :email, model_class.human_attribute_name(:email) %></th>
      <th><%= sort_link @q, :phone, model_class.human_attribute_name(:phone) %></th>
      <th><%= sort_link @q, :status_id, model_class.human_attribute_name(:status_id) %></th>
      <th><%= sort_link @q, :user_id, model_class.human_attribute_name(:user_id) %></th>
      <th><%= sort_link @q, :created_at, model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.id, admin_contact_path(contact) %></td>
        <td><%= link_to contact, admin_contact_path(contact) %></td>
        <td><%= contact.company_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.status %></td>
        <td><%= contact.user %></td>
        <td><%=l contact.created_at, format: :created_at_date %></td>
        <td>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
                      edit_admin_contact_path(contact), class: 'btn btn-xs' %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                      admin_contact_path(contact),
                      method: :delete,
                      data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="tag_cloud">
  <% tag_cloud Contact.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, admin_contacts_path, class: css_class %>
  <% end %>
</div>
