<div class="row">
  <div class="col-md-6">
    <%= form_for @admin_user, html: { class: 'form-horizontal' } do |f| %>
      <%= render 'shared/error_messages', target: @admin_user %>
      <div class="form-group">
        <%= f.label :first_name, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :last_name, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :phone, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_field :phone, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>

      <%= hidden_field_tag "admin_user[permission_ids][]", nil %>
      <% Admin::Permission.all.each do |permission| %>
        <%= check_box_tag "admin_user[permission_ids][]", permission.id, @admin_user.permission_ids.include?(permission.id), id: dom_id(permission) %>
          <%= permission.namespace + "::" + permission.controller %><%= ("::" + permission.action) unless permission.action.blank? %><br />
      <% end %>

      <div class="col-md-9 col-md-offset-3">
        <%= f.submit nil, class: 'btn btn-primary' %>
        <%= link_to t('.cancel', default: t('helpers.links.cancel')),
                    admin_users_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
