<div id="admin_search_form">
  <%= search_form_for @q, html: { class: 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :first_name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name_cont, class: 'text-field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :last_name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name_cont, class: 'text-field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :email_cont, class: 'text-field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :permissions_id, class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select(:permissions_id_eq, Permission.all, :id, :namespace, include_blank: true) %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to "Reset", url_for, class: 'btn' %>
    </div>
  <% end %>
</div>
