<div class="row admin_search_form">
  <div class="col-md-9">
    <%= search_form_for @q, html: { class: 'form-horizontal' } do |f| %>
      <div class="form-group">
        <%= f.label :first_name_cont, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_field :first_name_cont, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :last_name_cont, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_field :last_name_cont, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email_cont, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_field :email_cont, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :permissions_id_eq, class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.collection_select(:permissions_id_eq, Permission.all, :id, :namespace, include_blank: true) %>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-3">
        <%= f.submit nil, class: 'btn btn-primary' %>
        <%= link_to "Reset", url_for, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
