<div class="sign-in">
  <%= form_tag advertiser_sessions_path, id: :login do %>
    <div class="form-group">
      <%= label_tag :email, nil, class: 'control-label' %>
      <%= text_field_tag :email, params[:email], { id: :email, class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= label_tag :password, nil, class: 'control-label' %>
      <%= password_field_tag :password, nil, { id: :password, class: 'form-control' } %>
    </div>

    <div class="sign-in-actions">
      <%= submit_tag 'Sign In', { id: 'sign-in-button', class: 'btn btn-warning btn-lg' } %>
    </div>
  <% end %>
</div>
