<%- model_class = Advertiser::Contact -%>
<%- provide(:title, model_class.model_name.human.titleize) -%>
<%= advertiser_page_header(yield(:title)) %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %></strong></dt>
  <dd><%= @advertiser_contact.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %></strong></dt>
  <dd><%= @advertiser_contact.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_name) %></strong></dt>
  <dd><%= @advertiser_contact.company_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %></strong></dt>
  <dd><%= @advertiser_contact.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address2) %></strong></dt>
  <dd><%= @advertiser_contact.address2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %></strong></dt>
  <dd><%= @advertiser_contact.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:region) %></strong></dt>
  <dd><%= @advertiser_contact.region %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postal_code) %></strong></dt>
  <dd><%= @advertiser_contact.postal_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %></strong></dt>
  <dd><%= @advertiser_contact.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %></strong></dt>
  <dd><%= @advertiser_contact.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %></strong></dt>
  <dd><%= @advertiser_contact.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:website) %></strong></dt>
  <dd><%= @advertiser_contact.website %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fax) %></strong></dt>
  <dd><%= @advertiser_contact.fax %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_form_url) %></strong></dt>
  <dd><%= @advertiser_contact.contact_form_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deleted_at) %></strong></dt>
  <dd><%= @advertiser_contact.deleted_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:skype) %></strong></dt>
  <dd><%= @advertiser_contact.skype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:msn) %></strong></dt>
  <dd><%= @advertiser_contact.msn %></dd>
  <dt><strong><%= model_class.human_attribute_name(:aol) %></strong></dt>
  <dd><%= @advertiser_contact.aol %></dd>
  <dt><strong><%= model_class.human_attribute_name(:yahoo) %></strong></dt>
  <dd><%= @advertiser_contact.yahoo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:icq) %></strong></dt>
  <dd><%= @advertiser_contact.icq %></dd>
  <dt><strong><%= model_class.human_attribute_name(:facebook) %></strong></dt>
  <dd><%= @advertiser_contact.facebook %></dd>
  <dt><strong><%= model_class.human_attribute_name(:google_plus) %></strong></dt>
  <dd><%= @advertiser_contact.google_plus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:twitter) %></strong></dt>
  <dd><%= @advertiser_contact.twitter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tags) %></strong></dt>
  <dd><%= raw @advertiser_contact.tags.map(&:name).map { |t| link_to t, advertiser_contacts_path }.join(', ') %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_id) %></strong></dt>
  <dd><%= @advertiser_contact.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %></strong></dt>
  <dd><%= @advertiser_contact.user %></dd>
</dl>

<div class="col-md-12">
  <%= link_to t('.back', default: t('helpers.links.back')),
              advertiser_contacts_path, class: 'btn btn-default'  %>
  <%= link_to t('.edit', default: t('helpers.links.edit')),
              edit_advertiser_contact_path(@advertiser_contact), class: 'btn btn-default' %>
  <%= link_to t('.destroy', default: t('helpers.links.destroy')),
              advertiser_contact_path(@advertiser_contact),
              method: :delete,
              data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
</div>

<div class="row">
  <div class="col-md-6">
    <% if @notes.count > 0 %>
      <table class="table table-striped">
        <% @notes.each do |note| %>
          <tr>
            <td>
              <span class="note_user"><%= note.user %></span><br />
              <span class="note_created_at"><%=l note.created_at, format: :created_at_date %></span>
            </td>
            <td>
              <%= note.description %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      There are no notes
    <% end %>
  </div>
  <div class="col-md-6">
    <%= form_for [@advertiser_contact, @note] do |f| %>
      <div class="form-group">
        <div class="col-md-12">
          <%= f.text_area :description, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-12">
        <%= f.submit nil, name: nil, value: 'Add Note', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
